openapi: 3.0.3
info:
  title: NHTSA vPIC Vehicle Equipment Manufacturers API
  description: The NHTSA Product Information Catalog Vehicle Listing (vPIC) API provides endpoints to gather information on vehicles and their specifications, including decoding Vehicle Identification Numbers (VINs), accessing manufacturer details, and retrieving make, model, and equipment data. The vPIC dataset is populated using information submitted by motor vehicle manufacturers through the Part 565 submittals.
  version: 1.0.0
  contact:
    name: NHTSA
    url: https://vpic.nhtsa.dot.gov/api/
  license:
    name: Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://vpic.nhtsa.dot.gov/api/vehicles
  description: NHTSA vPIC API production server
tags:
- name: Manufacturers
  description: Endpoints for manufacturer and World Manufacturer Identifier (WMI) data
paths:
  /DecodeWMI/{wmi}:
    get:
      tags:
      - Manufacturers
      summary: Decode a World Manufacturer Identifier
      parameters:
      - name: wmi
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: Decoded WMI
  /GetWMIsForManufacturer/{manufacturer}:
    get:
      tags:
      - Manufacturers
      summary: Get WMIs for a manufacturer
      parameters:
      - name: manufacturer
        in: path
        required: true
        schema:
          type: string
      - name: vehicleType
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: WMIs for the manufacturer
  /GetAllManufacturers:
    get:
      tags:
      - Manufacturers
      summary: Get all manufacturers
      parameters:
      - name: ManufacturerType
        in: query
        schema:
          type: string
      - name: page
        in: query
        schema:
          type: integer
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: All manufacturers
  /GetManufacturerDetails/{manufacturer}:
    get:
      tags:
      - Manufacturers
      summary: Get manufacturer details
      parameters:
      - name: manufacturer
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        schema:
          type: integer
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: Manufacturer details
components:
  parameters:
    Format:
      name: format
      in: query
      description: Response format.
      schema:
        type: string
        enum:
        - json
        - xml
        - csv
        default: xml
