openapi: 3.0.3
info:
  title: NHTSA vPIC Vehicle Equipment Vehicle Types API
  description: The NHTSA Product Information Catalog Vehicle Listing (vPIC) API provides endpoints to gather information on vehicles and their specifications, including decoding Vehicle Identification Numbers (VINs), accessing manufacturer details, and retrieving make, model, and equipment data. The vPIC dataset is populated using information submitted by motor vehicle manufacturers through the Part 565 submittals.
  version: 1.0.0
  contact:
    name: NHTSA
    url: https://vpic.nhtsa.dot.gov/api/
  license:
    name: Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://vpic.nhtsa.dot.gov/api/vehicles
  description: NHTSA vPIC API production server
tags:
- name: Vehicle Types
  description: Endpoints related to vehicle types
paths:
  /GetVehicleTypesForMake/{makeName}:
    get:
      tags:
      - Vehicle Types
      summary: Get vehicle types for a make
      parameters:
      - name: makeName
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: Vehicle types for the make
  /GetVehicleTypesForMakeId/{makeId}:
    get:
      tags:
      - Vehicle Types
      summary: Get vehicle types for a make ID
      parameters:
      - name: makeId
        in: path
        required: true
        schema:
          type: integer
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: Vehicle types for the make ID
components:
  parameters:
    Format:
      name: format
      in: query
      description: Response format.
      schema:
        type: string
        enum:
        - json
        - xml
        - csv
        default: xml
